body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#container {
  width: 360px;
  height: 750px;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 83px;
  align-items: center;
  background-color: ivory;
}

#title {
  font-size: 25px;
}
