@import 'main.css';

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color: black;
}

#container {
  width: 360px;
  height: 750px;
  background-color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 83px;
  padding: 0 20px;
  background-color: lightskyblue;
}

#back {
  font-size: 20px;
  cursor: pointer;
}

#title {
  font-size: 25px;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#main-post-button {
  width: 336px;
  height: 67px;
  margin: 20px 0;
  padding: 15px;
  border: none;
  border-radius: 12px;
  background-color: #BB2649;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

#main-posts {
  width: 336px;
  height: 540px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#main-posts::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.main-post {
  display: flex;
  width: 336px;
  height: 100px;
  cursor: pointer;
  box-sizing: border-box;
}

.main-post-img {
  width: 100px;
  height: 100px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}

.main-post-right {
  width: 236px;
  padding: 15px 7px;
  border: 1px solid gray;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: none;
  box-sizing: border-box;
}

.main-post-title {
  width:221px;
  margin: 0;
  padding-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

.main-post-content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word; 
  font-size: 13px;
}

.detail-post-img {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.detail-post-container {
  width: 360px;
  padding: 20px;
  box-sizing: border-box;
}

.detail-post-title {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.detail-post-date {
  font-size: 10px;
}

.detail-post-content {
  font-size: 16px;
  max-height: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.detail-post-content::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.detail-divider {
  width: 320px;
  border: 1px solid black;
}

.detail-comment-list {
  display: flex;
  flex-direction: column;
  width: 360px;
  padding: 20px;
  gap: 5px;
  box-sizing: border-box;
  font-size: 15px;
}